@import "tailwindcss";

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(238, 235, 235);
    max-width: max-content;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;


}

.header {
    display: flex;
    flex-direction: column;
}

.emailSpan {
    padding-bottom: 0.5em;
}

.emailLabel {
    display: flex;
    flex-direction: column;

}



input[type="text"],
input[type="password"] {
    width: 23em;
    height: 2.2em;
    padding: 0.5rem 1rem;
    border-radius: 5px;


}

.passwordContainer {
    position: relative;
    display: inline-block;
}



.forgotPasswordSpan:hover {
    cursor: pointer;
    color: black;
}

.rememberMeContainer {
    outline: none;
    border: none;
    font-size: 1em;
    width: 1em;
}